@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

body, html {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(216, 236, 248);
    color: #333;
    font-size: 17px;
}
header {
    background-color: white;
    color: #333;
    text-align: center;
    padding: 20px;
    border-bottom: 2px solid #b0b9d3;
    height: 150px;
}

#logo {
    background: url('./media/logo.jpeg');
    height: 100px;
    width: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.filter-bar {
    display: flex;
    justify-content: center;
    margin: 20px;
    flex-wrap: wrap;
}
.filter-bubble, .chat-icon {
    background-color: #e0e0f8;
    border: 2px solid black;
    border-radius: 20px;
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.filter-bubble.active {
    margin: auto;
}

.chat-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: white;
    color: black;
    border-radius: 30px;
    padding: 10px;
    cursor: pointer;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    transition: all 0.3s;
}

.chat-icon.fbo {
    position: relative;
    bottom: 0; right: 0;
    margin: 0; margin-top: 10px; margin-right: -10px;
    font-size: 14px;
    width: 20px; height: 20px;
}

.chat-icon.fbo span {
    font-size: 20px;
}

.chat-icon:hover {
    background: rgb(160, 102, 203);
    color: white;
    width: 70px;
}

.chat-icon.fbo:hover {
    width: 140px;
}

.chat-icon:hover::after {
    content: 'Chat';
    margin-left: 5px;
    opacity: 1;
    animation: fadeIn 0.3s linear ease-in-out;
    overflow: hidden;
}

.chat-icon.fbo:hover::after {
    content: 'Chat with FBO';
    /* no wrap */
    white-space: nowrap;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.fbo-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
    padding: 20px;
}
.fbo-item {
    border-radius: 8px;
    text-align: center;
    border: 2px solid black;
    box-shadow: 0 0 12px #000000;
    position: relative;
    width: 450px;
    height: 280px;
    background-position: center !important;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.3s;
}

.fbo-item:hover {
    transform: scale(1.05);
}

.fbo-item .wrapper {
    position: absolute;
    inset: 0;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.65);
}

.chat-box {
    position: fixed;
    bottom: 85px;
    right: 20px;
    background-color: rgb(224, 191, 250);
    border-radius: 8px;
    padding: 10px;
    width: 450px;
    border: 2px solid black;
    z-index: 1000;
}

.inner {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background: white;
    border-radius: 6px;
}

.chat-box.hidden {
    display: none;
}

.chat-box.visisble {
    display: block;
}

.overlay {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.36);
    z-index: 995;
    transition: all 3s;
    display: block;
}

.overlay.hidden {
    display: none;
}

.messages {
    height: fit-content;
    max-height: 400px;
    min-height: 100px;
    background-color: #f0f1f8;
    border-radius: 0;
    padding: 10px;
    overflow-y: auto;
}

.messages::-webkit-scrollbar {
    width: 4px !important;
}

.messages::-webkit-scrollbar-thumb {
    background-color: rgb(0, 0, 0);  /* This makes the thumb visible */
    border-radius: 2px;  /* Optional: adds rounded corners to the scrollbar thumb */
    height: 30px;
}


.message-suggestions {
    display: flex;
    /* flex-wrap: wrap; */
    justify-content: flex-start;
    width: calc(100% - 20px);
    flex-direction: row;
    overflow-x: scroll;
    margin: 0 10px;
}

.chat-head {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
}

.chat-head-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.chat-head h2 {
    font-size: 30px;
    margin-top: 10px;
    margin-bottom: 0;
}

.chat-head-icon {
    background: url('https://images.squarespace-cdn.com/content/v1/6449c87c64f1e57bf10dcd96/094cb1c2-ec4f-43ee-97bd-8c861bac635d/4.png?format=1000w');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 50px;
    width: 50px;
    margin-left: 10px;
}

.with-information {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
    justify-content: center;
    margin-top: 10px
}

.with-fbo, .as-who {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}

.with-fbo span, .as-who span {
    font-size: 14px;
    font-weight: 700;
    font-family: 'Quicksand', sans-serif;
}

.as-who span {
    margin-right: 15px;
}


select {
    border: none;
    outline: none;
    font-family: 'Quicksand', sans-serif;
}

.chatInput-wrapper {
    display: flex;
    gap: 10px;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 0 10px;
    margin-bottom: 10px;
}

#chatInput {
    background-color: #f0f1f8;
    border: none;
    border-radius: 4px;
    padding: 10px;
    width: calc(100% - 20px);
    flex-grow: 1;
    height: 38px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#chatInput:focus {
    outline: none;
    border: 2px solid black;
    padding-left: 8px;
}

#sendButton {
    border-radius: 4px;
    height: 38px;
    outline: none;
    border: 2px solid black;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s;
}

#sendButton:hover {
    background: black;
    color: white;
}


button:hover {
    background-color: #d1d3e0;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #c8d0e7;
    color: #333;
    border-top: 2px solid #b0b9d3;
}

.hidden {
    display: none;
}

.message-bubble {
    background-color: #e0e0f8;
    border-radius: 30px;
    padding: 15px;
    margin: 5px;
    cursor: pointer;
    transition: all 0.3s;
    font-size: 14px;
    height: 20px;
    width: fit-content;
    max-width: fit-content;
    min-width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.message-bubble:hover {
    background-color: rgb(160, 102, 203);
    color: white;
    transform: scale(1.05);
}

.message-suggestions::-webkit-scrollbar {
    display: none !important; /* Chrome, Safari, and newer Edge */
}

.filter-option {
    display: inline-block;
    margin: 2px 5px;
    padding: 5px 10px;
    background-color: #f0f1f8;
    border-radius: 20px;
    cursor: pointer;
    box-shadow: 1px 1px 5px rgba(160, 170, 190, 0.6);
}

.filter-option.active {
    background-color: #c8d0e7;
}

.pin-input {
    display: none;
    margin-top: 10px;
}

.pin-input.active {
    display: block;
}

.dot {
    height: 10px;
    width: 10px;
    background-color: rgb(160, 102, 203);
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
}

@keyframes fade {
    0%, 100% { opacity: 0; }
    50% { opacity: 1; }
}


.fbo-card-info-row {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
    margin-bottom: 15px;
    color: white;
}

.fbo-card-info-row p {
    margin: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.fbo-card-info-row span, .fbo-card-info-row b {
    color: white;
}

/* Basic styles for the filter bar and options */
.filter-bar, .filter-options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px 0;
}

.option-bubble, .filter-bubble {
    display: inline-block;
    padding: 5px 10px;
    margin: 2px;
    background-color: #f0f0f0;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.option-bubble {
    border: 1px solid black;
}

.option-bubble:hover, .filter-bubble:hover {
    background-color: black;
    color: white;
}

.active-filter {
    background-color: black;
    color: white;
    border: 2px solid black;
}

.filter-options {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

nav {
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    margin-top: 20px;
    font-weight: 500;
}

a {
    text-decoration: none;
    color: rgb(24, 54, 178);
}

a:first-child {
    position: relative;
}

a:first-child::after {
    content: '';
    width: 100%;
    height: 1px;
    position: absolute;
    bottom: -2px;
    left: 0;
    background-color: rgb(24, 54, 178);
    border-radius: 10px;
}

.fbo-details-container {
    opacity: 1;
    display: flex;
    flex-direction: row;
    gap: 0;
    padding: 0;
    background-color: #ffffff;
    border-radius: 12px;
    box-shadow: 0 0 12 rgba(0, 0, 0, 0.4);
    width: 60vw;
    height: 60vh;
    z-index: 10000;
    position: fixed;
    top: calc(50% - 30vh);
    left: calc(50% - 30vw);
    overflow: hidden;
}

.fbo-details-container.hidden {
    display: none;
}

.fbo-details-head .first-row {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.fbo-details-head h1 {
    margin-bottom: 10px;
}

.fbo-details-left {
    width: 40%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
}

.fbo-details-right {
    padding: 0 30px;
    width: 60%;
}

.fbo-details-location {
    width: 100%;
}

.fbo-details-location-text {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    margin: 0;
}

.price-head, .services-head, .contact-head, .phone, .email, .website, .fbo-details-location-header {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
    height: fit-content;
}

.phone, .email, .website {
    margin-left: 35px;
}

.fbo-details-body {
    display: flex;
    flex-direction: column;
    gap: 30px; 
    overflow: scroll;  
}

.fbo-details-body h3 {
    margin: 0;
}

.fbo-details-container hr {
    margin: 10px 0 25px 0;
    width: 100%;
    border: 0.8px solid black;
    border-radius: 10px;
    outline: none;
}

.fbo-details-body .contact {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.contact-number, .contact-email, .contact-website {
    margin: 0;
}

.contact-website {
    color: black;
}

.price-body {
    display: grid;
    /* 2 columns */
    grid-template-columns: 1fr 1fr;
    row-gap: 5px;
    column-gap: 10px;
    margin-top: 10px;
    margin-left: 35px;
}

.price-body p {
    margin: 0;
}

.services-body {
    margin-left: 35px;
    margin-top: 5px;
}

.new-fbo-name-msg {
    margin: 10px auto;
    width: fit-content;
    color: black;
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 20px;
}

.new-fbo-name-hr {
    width: 95%;
    border: 0.8px solid black;
    margin-top: 20px;
    border-radius: 10px;
}

.single-message {
    font-size: 14px;
    color: white;
    margin-bottom: 10px;
    padding: 10px;
    width: fit-content;
    max-width: 65%;
}

